body{
    background-color: #1b1b1b;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}

.headerTitle{
    color: white;
}

#inputSearch {
    width: 300px;
    height: 50px;
    margin: auto;
}

#charactersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.cardContainer {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem;
    background-color: #4e4e4e;
    border-radius: 20px;
}

.cardContainer h3 {
    margin-top: 1rem;
    color: white;
}

.cardContainer img {
    border-radius: 200px;
    width: 300px;
    padding: 1rem;
}

.cardContainer img:hover {
    opacity: 0.5;
}

.cardContainer h5 {
    color: #F6EC3B;
    opacity: 0.7;
}

.hide{
    display: none;
}


@media (max-width: 768px ){
    .cardContainer img {
        width: 250px;
    }
}

@media (max-width: 1024px ){
    .cardContainer img {
        width: 300px;
    }
}
